<%# -*- coding: utf-8 -*-%>
<% require 'dbi' %>
<% # dbhを作成し、データベースに接続する %>
<% dbh = DBI.connect('DBI:SQLite3:toinData.db') %>
<%# テーブルから削除対象データを読み込んで表示する %>
<% row = dbh.select_one("select * from toinData where id=\'#{target_id}\'") %>

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>データの表示</title>
	<link rel="stylesheet" href="./dist/css/common.css" type="text/css" >
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<header class="header">
	<p class="header__text"><a href="./">ここはヘッダーコンテントです</a></p>
</header>
<div class="player-manage">
	<div class="player-manage__title">
		<h1>選手データの削除</h1>
		<p>このデータを削除します</p>
	</div>
	<ul class="menu-horizon">
		<li class="menu-horizon__item"><a href="list.erb">選手データの表示</a></li>
		<li class="menu-horizon__item"><a href="./">メニューに戻る</a></li>
	</ul>
	<%# 削除データを表示する。アクションはdelete %>
	<form method="post" action="delete">
		<input type="hidden" name="id" value="<%= target_id %>">
		<table  class="data-list">
			<thead>
				<tr>
					<th class="data-list__title">項目名</th>
					<th class="data-list__title">削除データ</th>
				</tr>
			</thead>
			<tbody>
				<%# each_width_nameメソッドで値と項目名を1件分ずつ取り出して表示する %>
				<% row.each_with_name do |val, name| %>
						<tr>
							<td class="data-list__item"><%= name %></td>
							<td class="data-list__item"><%= val.to_s %></td>
							<input type="hidden" name="<%= name %>" value="<%= val %>">
						</tr>
				<% end %>
			</tbody>
		</table>
		<input type="submit" class="c-action-button" value="削除を実行">
	</form>
</div>
<footer class="footer">
	<p class="footer__text">ここはフッターコンテントです</p>
</footer>
<script src="./dist/js/vendor.js"></script>
<script src="./dist/js/app.js"></script>
</body>
</html>