<%# -*- coding: utf-8 -*-%>
<% require 'dbi' %>
<% # dbhを作成し、データベースに接続する %>
<% @dbh = DBI.connect('DBI:SQLite3:hanabiData.db') %>
<% # テーブルからデータを読み込で結果を取得 %>
<% @sth = @dbh.select_all("select * from hanabiData;") %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>データの表示</title>
  <link rel="stylesheet" href="./dist/css/common.css" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<header class="header">
  <p class="header__text"><a href="./">ここはヘッダーコンテントです</a></p>
</header>
<div class="cast-management">
  <div class="cast-management__label">
    <h1 class="cast-management__heading">打ち上げ花火下から見るか、横から見るかキャスト管理</h1>
    <p class="cast-management__description">処理するデータを選択してください</p>
  </div>
  <ul class="c-menu-list--related">
    <li class="c-menu-list__item"><a href="entry.erb">出演者の登録</a></li>
    <li class="c-menu-list__item"><a href="search.erb">出演者の検索</a></li>
    <li class="c-menu-list__item"><a href="./">メニューに戻る</a></li>
  </ul>
  <form method="post" action="list">
    <table class="cast-data">
      <thead>
        <tr>
          <th class="cast-data__header--delete">削除</th>
          <th class="cast-data__header--modify">修正</th>
          <% @sth.column_names.each do |name| %>
            <th class="cast-data__header--<%= name %>"><%= name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| %>
          <tr>
            <% row.each_with_name do |value, name| %>
              <% if name == 'id' %>
                <td class="cast-data__cell"><input type="radio" name="operation" value= <%= "#{value}.delete" %>>
                </td>
                <td class="cast-data__cell"><input type="radio" name="operation" value= <%= "#{value}.edit" %>></td>
              <% end %>
              <td class="cast-data__cell"><%= "#{value.to_s}" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <input type="submit" class="c-action-button" value="選択した処理を実行する">
  </form>
</div>
<footer class="footer">
  <p class="footer__text">ここはフッターコンテントです</p>
</footer>
<script src="./dist/js/vendor.js"></script>
<script src="./dist/js/app.js"></script>
</body>
</html>

<% @sth.finish %>
<% @dbh.disconnect %>